:root {
	background: rgb(20 83 45);
	color: white;
	font-family: sans-serif;
	--c-primary: #0ea5e9;
	--soft-blue: #bae6fd;
	--footer: #082f49;
	--nav: transparent;
}

:root,
body {
	height: 100%;
}

body {
	margin: 0;
}

.surface {
	border-radius: 0.5rem;
	border: none;
	box-shadow: 0px 2px 4px rgba(155, 155, 155, 0.5);
	overflow: hidden;
	position: relative;
}

nav > div > a {
	border-radius: 0.5rem;
	font-size: 1rem;
	padding: 0.5rem;
}

nav > div > a:hover {
	color: var(--soft-blue);
}

.sticky {
	position: sticky;
	top: 1rem;
	z-index: 100;
}

.split {
	display: grid;
	max-width: 1024px;
	margin: 0 auto 4rem;
}

@media screen and (min-width: 768px) {
	.split {
		gap: 0.5rem;
		grid-template-columns: 1fr 300px;
		padding: 0 0.5rem;
	}
}

@media screen and (min-width: 1024px) {
	.split {
		gap: 1rem;
		padding: 0 2rem;
	}
}

.split > main {
	padding: 1rem;
}

.split > main h1 {
	margin-top: 0;
}

.split > aside {
	padding: 1.5rem 0.5rem;
}

.split > aside h2 {
	margin: 1rem 0;
	padding: 0 0.5rem;
}

.split > aside {
	position: sticky;
	top: 4rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: 1.5;
	margin: 1.5em 0 1rem;
}

h1 {
	font-size: 2.5em;
	margin-top: 1em;
}

h3 {
	font-size: 1.25em;
}

p {
	line-height: 1.75;
}

ol,
ul {
	line-height: 1.66;
}

a {
	color: currentColor;
	text-decoration-color: var(--soft-blue);
}

form button {
	background: var(--c-primary);
	border: none;
	border-radius: 3rem;
	cursor: pointer;
	padding: 0.5rem 1rem;
	width: max-content;
}
